;;;;
;;;; ~/.gitconfig
;;;; /usr/local/bin/git (installed and maintained by Homebrew)
;;;;

[apply]
    whitespace = fix

[branch]
    autoSetupRebase = local

[color]
	ui = auto

[core]
	autocrlf = input
	editor = emacs
;; windoze shit
;;    autocrlf = true
;;    ignoreCase = true
;;    precomposeUnicode = true

[user]
	name = Thomas C Lindsey
	email = tom.lindsey@gmail.com

[diff]
	tool = opendiff
    prompt = false

[difftool "opendiff"]
    tool = opendiff
    prompt = false

[merge]
    conflictStyle = diff3
	tool = opendiff

[merge.tool]
    prompt = false
	tool = opendiff

;;;
;;; working with remotes
;;;

[fetch]
	prune = false

[push]
	default = simple

;;;
;;; miscellaneous settings
;;;

[grep]
    extendedRegexp = true
    lineNumber = true

[help]
    autoCorrect = 20    ; I can't type worth shit

[http]
    postBuffer = 1048576000

[difftool]
	prompt = false
[mergetool]
	prompt = false
[filter "media"]
	clean = git media clean %f
	smudge = git media smudge %f
	required = true
